
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Bulma.io with Full Width Menu (Mega Menu)
        </h1>
        <h2 class="subtitle">
          Hover over Blog
        </h2>
      </div>
    </div>
  </section>