---
layout: layouts/base.njk
section: 1214
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% include "components/_hero.njk" %}
{% include "components/_filter-group-1.njk" %}
{% include "components/_product-grid-group-1.njk" %}
{% include "components/_filter-group-1.njk" %}